# Environment variables
.env

# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
env/
hops_env/
hops_wsl_env/

# Logs
logs/
*.log
install*.log

# Local/generated data
/data/*
!/data/processed/
/data/processed/*

# Trained models
/models/

# Jupyter
.ipynb_checkpoints/
predictions/

/data/processed/*.parquet

# Generated predictions
predictions/*
!predictions/latest.json
