numpy
pandas

scikit-learn
tensorflow
xgboost

#data collection
requests

#visualization
matplotlib
plotly

#explainability
shap

#feature store
hopsworks

# Web app
streamlit
flask

# Utilities
python-dotenv
joblib

# Testing
pytest

# Notebook
jupyter
ipykernel
scikit-learn
